---
const {pathname} = Astro.url
---

<main>
  <div class="w-full navbar bg-base-300 absolute z-10">
    <div class="flex-none">
      <label for="my-drawer-3" class="btn btn-square btn-ghost hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-6 h-6 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="flex-1 px-2 mx-2"><a href="/">MANGANIME - INDONESIA</a></div>
    <div class="flex-none hidden lg:block">
      <ul class="menu menu-horizontal">
        <!-- Navbar menu content here -->
        <li><a>Navbar Item 1</a></li>
        <li><a>Navbar Item 2</a></li>
      </ul>
    </div>
  </div>
  <div class="drawer drawer-mobile -z-10 pt-[10vh]">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col overflow-y-scroll p-5">
        <slot />
    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" class="absolute top-0"></label>
      <ul class="menu gap-2 p-4 w-80 bg-base-300">
        <!-- Sidebar content here -->
        <li class={`${pathname === '/' && 'bg-primary rounded-xl'}`}><a href="/">Anime</a></li>
        <li class={`${pathname === '/manga' && 'bg-primary rounded-xl'}`}><a>Manga</a></li>
      </ul>
    </div>
  </div>
</main>
